<!-- book/templates/book/index.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
    <link rel="stylesheet" href="{% static 'book/index.css' %}"> 
</head>
<body>
    <h1>Books</h1>
    <a href="{% url 'add_book' %}" class="add-book-button">Add New Book</a>
    <ul>
        {% for book in books %}
            <li>
                <div class="book-info">
                    <strong>{{ book.title }}</strong> by {{ book.author }}<br>
                    <span class="book-details">
                        ISBN: {{ book.isbn }}<br>
                        Price: ${{ book.price }}<br>
                        Stock: {{ book.stock }} units
                    </span>
                </div>
                <a href="{% url 'edit_book' book.id %}" class="edit-button">Edit</a>
                <a href="{% url 'delete_book' book.id %}" class="delete-button" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
            </li>
        {% empty %}
            <li>No books available.</li>
        {% endfor %}
    </ul>
</body>
</html>
